.blog-card{
    width: 345px;
    height: 479px;
    background: var(--light);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.card-img-top{
    width: 100%;
    height: 244px !important;
}
.swiper{
    width: 100%;
    height: 1150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide{
    background: none;
    margin-bottom: 60px;
    filter: blur(0px);
}

@media (max-width: 820px) {
    .blog-card{
        width: 322px;
        height: 457px;
    }
    .swiper{
        height: 1083px;
    }
}
@media (max-width: 480px){
    .swiper{
        height: 600px;
    }
}